<footer id="footer">
  
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; {{ .Now.Format "2006"}} {{ or .Site.Author .Site.Title }}&nbsp;
        </div>
    </div>
    
    {{ template "_internal/google_analytics_async.html" . }}

    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    
    <script src="{{ .Site.BaseURL }}js/add-code-icons.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/securefoundation.css"/>

    <script>
        document.getElementById('main-nav-toggle').addEventListener('click', function () {
            var header = document.getElementById('header');
            if (header.classList.contains('mobile-on')) {
                header.classList.remove('mobile-on');
            } else {
                header.classList.add('mobile-on');
            }
        });
    </script>
</footer>
