{{ partial "head.html" . }}
<body>
  <div id="container">
    {{ partial "header.html" . }}
    
    <section id="main" class="outer">
      <section class="layout-wrap">

        <span class="layout-title">View a Secure Foundation for:</span>

        <div class="layout-wrap-inner">
          <p class="contexts">
          {{ $site := .Site }}
          {{ $data := .Data }}
            {{ range $key, $value := .Site.Taxonomies.contexts.Alphabetical }}
            {{ if ne $key 0 }}, {{ end }}
              <a href="{{ $site.BaseURL }}contexts/{{ $value.Name | urlize }}">{{ $value.Name }}</a>({{ $value.Count }})
              {{ end }}
          </p>
        </div>

      </section>
    </section>
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
