{{ partial "head.html" . }}

{{ $context := (lower .Title) }}

<body>
  <div id="container">
    {{ partial "header.html" (dict "Site" .Site "subtitle" $context) }}
    
    <section id="main" class="outer">
      <section class="layout-wrap">

        <div class="layout-wrap-inner">
          <ul>
            {{ range .Data.Pages.GroupByParam "types" }}
                {{ range .Pages }}
                  {{ .Scratch.Set "context" $context }}
                  {{ partial "article.html" . }}
                {{ end }}
            {{ end }}
          </ul>
        </div>

      </section>
    </section>
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
